@charset "UTF-8";
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1AD;
    --cor2: #3ddc84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'mac', cursive;
    --fonte2: 'pizza', sans-serif;
}

main{
    background-color: var(--cor0);
}